<div mat-dialog-title class="dialog-title">
  <h2>Faça seu Login</h2>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>X</button>
</div>
<div mat-dialog-content>
  <div mat-dialog-content [formGroup]="loginControl" class="form-fields">
    <mat-form-field class="input" appearance="fill">
      <mat-label>CPf/CNPJ</mat-label>
      <input matInput type="number" formControlName="cpf" required />
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    cdkFocusInitial
    color="accent"
    type="submit"
    (click)="findAthleteByCpf()"
    [disabled]="loginControl.invalid"
  >
    Login
  </button>
</div>
