section {
  background-color: rgb(33, 33, 33);
  color: white;
  width: 100%;
  min-height: 1000px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}

input {
  color: white;
}

.form-fields {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px 40px;
}

.container {
  width: 700px;
  height: auto;
  margin: 0 0 40px 0;
  padding: 20px;
  border-radius: 10px;
}

.rblGenre {
  margin-top: 15px;
  color: white;
}

.vl {
  width: 100%;
  border: 1px solid gray;
  margin: 10px 0 10px 0;
}

.btnUpdate {
  padding: 5px 15px 5px 15px;
  margin-bottom: 20px;
}

.btnUpdate mat-icon {
  margin-right: 5px;
}

.infoIcon {
  transform: scale(0.9);
  font-size: 20px;
}

::ng-deep .mat-tooltip {
  font-size: 16px;
}
